# Ignore everything by default.
*

# Documentation
!docs
!docs/*
!docs/assets/*
!README.md

# NeoVim config
!nvim
!nvim/*
!nvim/docs/*
!nvim/docs/assets/*
!nvim/ftplugin/*
!nvim/lua/*
!nvim/lua/nale/*
!nvim/lua/nale/core/*
!nvim/lua/nale/plugins/*
!nvim/snippets/*

# Kitty config
!kitty
!kitty/*
!kitty/docs/*
!kitty/docs/assets/*

# Tmux config
!tmux
!tmux/*
!tmux/docs/*
!tmux/docs/assets/*

# Zsh config
!zsh
!zsh/*
!zsh/docs/*
!zsh/docs/assets/*

# Scripts
!scripts
!scripts/*

# Hyprland
!hypr
!hypr/*
!hypr/docs/*
!hypr/docs/assets/*
!backgrounds
!backgrounds/*

# Waybar
!waybar
!waybar/*
!waybar/docs/*
!waybar/docs/assets/*

# Wofi
!wofi
!wofi/*
!wofi/docs/*
!wofi/docs/assets/*

# Yazi
!yazi
!yazi/*
