# Ignore everything by default.
*

# Documentation
!docs
!docs/*
!docs/assets/*
!README.md

# NeoVim config
!nvim
!nvim/*
nvim/autoload/
!nvim/lua/*
!nvim/lua/plugin_config/*

# Terminator config
!terminator
!terminator/*

# Zsh
!zsh
!zsh/*

!DiscordInstaller.sh

!move-to-next-monitor.sh
