# Ignore everything by default.
*

# Documentation
!docs
!docs/*
!docs/assets/*
!README.md

# NeoVim config
!nvim
!nvim/*
!nvim/ftplugin/*
!nvim/lua/*
!nvim/lua/plugin_config/*
!nvim/snippets/*

# Terminator config
!terminator
!terminator/*
!terminator/docs/*
!terminator/docs/assets/*

# Zsh
!zsh
!zsh/*
!zsh/docs/*
!zsh/docs/assets/*

!DiscordInstaller.sh

!move-to-next-monitor.sh
