@import "../mocha.css";

* {
  font-family: "MesloLGS Nerd Font Mono Bold";
  font-size: 14px;
  min-height: 0;
  font-weight: bold;
}

window#waybar {
  background: transparent;
  background-color: @crust;
  color: @overlay0;
  transition-property: background-color;
  transition-duration: 0.1s;
  border-bottom: 1px solid @overlay1;
}

#window {
  color: @maroon;
  padding: 0px 4px;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  color: @mauve;
  border-top: 2px solid @mauve;
}

#workspaces button {
  padding: 0 4px;
  color: @mauve;
}

#workspaces button.focused {
  background-color: rgba(0, 0, 0, 0.3);
  color: @rosewater;
  border-top: 1px solid @rosewater;
}

#workspaces button.active {
  background-color: rgba(0, 0, 0, 0.3);
  color: @mauve;
  border-top: 1px solid @mauve;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#memory,
#temperature,
#cpu,
#disk,
#backlight,
#bluetooth,
#wireplumber,
#tray,
#network,
#mode,
#bluetooth
#scratchpad {
  padding-left: 7px;
  padding-right: 10px;
}

#clock {
  color: @maroon;
  padding: 0px 4px;
}

#clock.date {
  color: @mauve;
}

#network {
  color: @yellow;
  border-top: 1px solid @yellow;
}

#bluetooth {
  color: @blue;
  border-top: 1px solid @blue;
}

#pulseaudio {
  color: @teal;
  border-top: 1px solid @teal;
}

#cpu {
  color: @maroon;
  border-top: 1px solid @maroon;
}


#battery {
  color: @green;
  border-top: 1px solid @green;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}
